body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

.dropdown {
    width: 200px;
    margin: 20px auto;
}

#anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime-card {
    /*width: 200px;*/
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
}
img{
    margin: auto 20px;
}